In [6]:
import pandas as pd

In [19]:
df=pd.read_excel("lci-concrete-with-uncertainties.xlsx")

In [20]:
df

,Database,concrete us,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Activity,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,location,RER,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,production amount,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,reference product,concrete us,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,type,process,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,unit,kilogram,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,Exchanges,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,name,amount,database,location,categories,unit,type,reference product,uncertainty_type,loc,scale
9,concrete us,1,ecoinvent-3.9.1-cutoff,RER,NaN,kilogram,production,concrete us,0,NaN,NaN
10,"market for cement, all types, adjusted",290,ecoinvent-3.9.1-cutoff,RER,NaN,kilogram,technosphere,"market for cement, all types, adjusted",2,5.669881,0.118
11,concrete mixing factory construction,0.0,ecoinvent-3.9.1-cutoff,CH,NaN,unit,technosphere,concrete mixing factory,2,-14.69018,0.566
12,"market for diesel, burned in building machine",0.4,ecoinvent-3.9.1-cutoff,GLO,NaN,megajoule,technosphere,"diesel, burned in building machine",2,-0.916291,0.103
13,"market for electricity, medum voltage",4.3,ecoinvent-3.9.1-cutoff,CH,NaN,kilowatt hour,technosphere,"electricity, medium voltage",2,1.458615,0.103
14,"market for gravel, round",1250,ecoinvent-3.9.1-cutoff,CH,NaN,kilogram,technosphere,"gravel, round",2,7.130899,0.134
15,"market for heat, district or industrial, natur...",5.7,ecoinvent-3.9.1-cutoff,CH,NaN,megajoule,technosphere,"heat, district or industrial, natural gas",2,1.740466,0.155
16,"heat production, light fuel oil, at industrial...",8.2,ecoinvent-3.9.1-cutoff,RER,NaN,megajoule,technosphere,"heat production, light fuel oil, at industrial...",2,2.104134,0.155
17,market for lubricating oil,0.02,ecoinvent-3.9.1-cutoff,CH,NaN,kilogram,technosphere,lubricating oil,2,-3.912023,0.103
18,market for municipal solid waste,-0.05,ecoinvent-3.9.1-cutoff,CH,NaN,kilogram,technosphere,municipal solid waste,2,-2.995732,0.103
19,market for sand,705,ecoinvent-3.9.1-cutoff,CH,NaN,kilogram,technosphere,sand,2,6.558198,0.214
20,market for synthetic rubber,0.12,ecoinvent-3.9.1-cutoff,GLO,NaN,kilogram,technosphere,synthetic rubber,2,-2.120264,0.103
21,market for tap water,175,ecoinvent-3.9.1-cutoff,CH,NaN,kilogram,technosphere,tap water,2,5.164786,0.113
22,market for waste concrete,-5.38,ecoinvent-3.9.1-cutoff,CH,NaN,kilogram,technosphere,waste concrete,2,1.682688,0.103

In [26]:
def function(activity_name):
    dict_ex={}
    if list(df)[1]==activity_name:
        for i in range (10,len(df)):
            name_ex=df['Database'][i]
            dict_ex[name_ex]=df['Unnamed: 10'][i]
    return (dict_ex)

In [27]:
function('concrete us')

{'market for cement, all types, adjusted': 0.118,
 'concrete mixing factory construction': 0.566,
 'market for diesel, burned in building machine': 0.103,
 'market for electricity, medum voltage': 0.103,
 'market for gravel, round': 0.134,
 'market for heat, district or industrial, natural gas': 0.155,
 'heat production, light fuel oil, at industrial furnace 1MW': 0.155,
 'market for lubricating oil': 0.103,
 'market for municipal solid waste': 0.103,
 'market for sand': 0.214,
 'market for synthetic rubber': 0.103,
 'market for tap water': 0.113,
 'market for waste concrete': 0.103}